## Interview Asked Questions

In [4]:
for i in range(1, 10, 2):
    print (i)

1
3
5
7
9

In [11]:
a = 30
b = 10
if a < b:
    print('{} is less than {}'.format(a, b))
elif a == 30:
    print('{} is greater than {}'.format(a, b))
else:
    print('{} is less than {}'.format(a, b))

30 is greater than 10

In [15]:
import numpy as np
a , b = 0 , 1
for i in range(0, 10):
   my_list = [10,20,30,40,50]
for i in my_list:
    print(i) print (a)
    a , b = b, a+b

0
1
1
2
3
5
8
13
21
34

In [16]:
my_list = [10,20,30,40,50]
for i in my_list:
    print(i)

10
20
30
40
50

In [17]:
my_tuple = (10,20,30,40,50)
for i in my_tuple:
    print(i)

10
20
30
40
50

In [19]:
my_list = [10,20,30,40,50]
my_list[2] = 90
print(my_list)

[10, 20, 90, 40, 50]

In [18]:
my_tuple = (10,20,30,40,50)
my_tuple[2] = 90
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [24]:
my_set = {10,20,30,30,25,20,24,60,50,10}
for i in my_set:
    print(i)

10
50
20
24
25
60
30

In [25]:
my_list = [10,20,30,40,50]
squares = [num*num for num in my_list]
print(squares)

[100, 400, 900, 1600, 2500]

In [26]:
class human:
    name = None
    age = None
    def get_name(self):
        print("Enter Your name")
        self.name = input()
    def get_age(self):
        print("Enter Your age")
        self.age = input()
    def put_name(self):
        print("Your name is", self.name)
    def put_age(self):
        print("Your name is", self.age)

In [27]:
person = human()

In [28]:
person.get_name()

Enter Your name
Dipesh

In [29]:
person.get_age()

Enter Your age
25

In [32]:
person.put_name(), person.put_age()

Your name is Dipesh
Your name is 25

(None, None)

In [38]:
class student:
    def __init__(self, name, age, branch):
        self.name = name
        self.age = age
        self.branch = branch
    def print_student(self):
        print('name', self.name)
        print('age', self.age)
        print('branch', self.branch)

In [40]:
student1 = student("Dipesh", 12, "Statistics")

In [41]:
student1.print_student()

name Dipesh
age 12
branch Statistics

In [44]:
import numpy as np
a = np.array([5,6,8])
b = np.array([9,6,4])
np.sum((a, b), axis = 0)

array([14, 12, 12])

In [1]:
import pandas as pd
df1 = {'name':['Dipesh','Alam'], 'age':[23,36]}

In [2]:
a = pd.DataFrame(df1)

In [3]:
a

     name  age
0  Dipesh   23
1    Alam   36

In [4]:
a = lambda x,y: x+y
print(a(5,6))

11